<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5 mb-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
        <div class="card-header">
          <h1 class="text-center border bg-warning p-2">Claim <%= @winner.item.name %></h1>
        </div>
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <span class="text-danger">Serial Number: </span><span><%= @winner.bet.serial_number %></span><br>
            <span class="text-danger">Created at: </span><%= @winner.created_at %>
            <hr>
            <div class="text-center">
              <%= form_with model: @winner, url: users_claim_path, method: :patch do |form| %>
                <%= form.label :address, class: 'form-label' %>:
                <%= form.select :address_id, options_for_select(current_user.addresses.map { |u| [u.address_concat, u.id] }), { prompt: "Select Status" }, class: 'form-select' %>
                <br>
                <%= form.submit "Claim", class: 'btn btn-warning mt-2' %>
                <%= link_to 'Back', users_profile_path(winner: :winners), class: 'btn btn-dark mt-2' %>
              <% end %>
            </div>
            <hr>
            <% if @addresses.blank? %>
              <h3 class="text-center">No Address Found</h3>
              <%= link_to 'Add Address', users_profile_addresses_path, class: 'btn btn-dark' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>