<%= form_with model: member_level, url: path do |f| %>
  <div class="form">
    <%= f.label :level %>
    <%= f.number_field :level, class: 'form-control' %>
    <span class="text-danger"><%= member_level.errors.full_messages_for(:level).join(", ") if member_level.errors.has_key?(:level) %></span>
  </div>
  <hr>
  <div class="form">
    <%= f.label :required_members %>
    <%= f.number_field :required_members, class: 'form-control' %>
    <span class="text-danger"><%= member_level.errors.full_messages_for(:required_members).join(", ") if member_level.errors.has_key?(:required_members) %></span>
  </div>
  <hr>
  <div class="form">
    <%= f.label :coins %>
    <%= f.number_field :coins, class: 'form-control' %>
    <span class="text-danger"><%= member_level.errors.full_messages_for(:coins).join(", ") if member_level.errors.has_key?(:coins) %></span>
  </div>
  <hr>
  <div>
    <%= f.submit class: 'btn btn-warning mt-2' %>
    <%= link_to 'Back', admins_member_levels_path, class: 'btn btn-dark mt-2' %>
  </div>
<% end %>
