<%= form_with model: member_level, url: path do |f| %>
  <div class="form">
    <%= f.label :level %>
    <%= f.number_field :level, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :required_members %>
    <%= f.number_field :required_members, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :coins %>
    <%= f.number_field :coins, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit class: 'btn btn-warning mt-2' %>
    <%= link_to 'Back', admins_member_levels_path, class: 'btn btn-dark mt-2' %>
  </div>
<% end %>
