<div class="d-flex justify-content-center align-content-center">
  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <p><%= image_tag "#{@item.image.url}", width: "200", height: "200" %></p>
        <p>Name:<%= @item.name %></p>
        <p>Quantity:<%= @item.quantity %></p>
        <p>Minimum Bets:<%= @item.minimum_bets %></p>
        <p>State:<%= @item.state %></p>
        <p>Batch:<%= @item.batch_count %></p>
        <p>Online At:<%= @item.online_at %></p>
        <p>Offline At:<%= @item.offline_at %></p>
        <p>Start At:<%= @item.start_at %></p>
        <p>Status:<%= @item.status %></p>
        <%= link_to 'Back', admin_items_path, class: 'btn btn-primary'%>
        <%= link_to 'Edit', edit_admin_item_path, class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>