<%= form_with model: banner, url: path do |f| %>
  <div>
    <%= f.submit class: 'btn btn-warning' %>
    <%= link_to 'Back', admins_banners_path, class: 'btn btn-dark' %>
  </div>
  <hr>
  <div class="form">
    <%= f.label :preview, class: 'form-label' %><br>
    <%= f.file_field :preview, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :offline_at, class: 'form-label' %><br>
    <%= f.date_field :offline_at, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :online_at, class: 'form-label' %><br>
    <%= f.date_field :online_at, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :status, class: 'form-label' %><br>
    <%= f.select :status, options_for_select(Banner.statuses.map { |key, value| [key.humanize, key] }), { prompt: "Select Status" }, class: 'form-control mt-1 mb-1' %>
  </div>
<% end %>
