<h1 class="text-center text-dark">Winner List</h1>
<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <%= form_tag({ url: admins_winners_path }, method: :get) do %>
              <div class="row">
                <div class="col-12">
                  <%= label_tag :serial_number %>
                  <%= text_field_tag :serial_number, params[:serial_number], class: 'form-control form-control-sm' %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= label_tag :email %>
                  <%= text_field_tag :email, params[:email], class: 'form-control form-control-sm' %>
                </div>
                <div class="col-6">
                  <%= label_tag :state %>
                  <%= select_tag :state, options_for_select(Winner.aasm.states.map(&:name), params[:state]), { prompt: "Select State", class: 'form-control form-control-sm' } %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= label_tag :create_date %>
                  <%= date_field_tag :created_at, params[:created_at], class: 'form-control form-control-sm' %>
                </div>
                <div class="col-6">
                  <%= label_tag :end_date %>
                  <%= date_field_tag :ended_at, params[:ended_at], class: 'form-control form-control-sm' %>
                </div>
              </div>
              <%= submit_tag :Search, class: 'btn btn-dark btn-sm mt-2' %><%= link_to "Reset", admins_winners_path, class: 'mx-2 btn btn-sm btn-dark mt-2' %>
            <% end %>
            <hr>
            <div style="overflow: auto;">
              <table class="table table-hover table-sm table-responsive text-center w-100">
                <th>
                  <tr class="bg-dark text-white table-responsive-sm">
                    <td>Serial Number</td>
                    <td>Email</td>
                    <td>State</td>
                    <td>Date</td>
                    <td>Action</td>
                  </tr>
                </th>
                <% @winners.each do |winner| %>
                  <tbody>
                  <tr>
                    <td><%= winner.bet.serial_number %></td>
                    <td><%= winner.user.email %></td>
                    <td><%= winner.state %></td>
                    <td><%= winner.created_at %></td>
                    <% if winner.may_submit? %>
                      <td><%= button_to "Submit", admins_winner_submit_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                    <% if winner.may_pay? %>
                      <td><%= button_to "Pay", admins_winner_pay_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                    <% if winner.may_ship? %>
                      <td><%= button_to "Ship", admins_winner_ship_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                    <% if winner.may_deliver? %>
                      <td><%= button_to "Deliver", admins_winner_deliver_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                    <% if winner.may_publish? %>
                      <td><%= button_to "Publish", admins_winner_publish_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                    <% if winner.may_remove_publish? %>
                      <td><%= button_to "Remove Publish", admins_winner_remove_publish_event_path(winner), method: :put, class: 'btn btn-warning btn-sm text-dark' %></td>
                    <% end %>
                  </tr>
                  </tbody>
                <% end %>
              </table>
              <% if @winners.blank? %>
                <h3 class="text-center mt-1">No result found</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>