<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <%= form_with model: @offer, url: path do |f| %>
              <div class="form">
                <%= f.label :image, class: "form-label" %>
                <%= f.file_field :image, class: "form-control" %>
              </div>
              <div class="form">
                <%= f.label :name, class: "form-label" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="form">
                <%= f.label :genre, class: 'form-label' %><br>
                <%= f.select :genre, options_for_select(Offer.genres.map { |key, value| [key.humanize, key] }), { prompt: "Select Genre" }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form">
                <%= f.label :status, class: 'form-label' %><br>
                <%= f.select :status, options_for_select(Offer.statuses.map { |key, value| [key.humanize, key] }), { prompt: "Select Status" }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form">
                <%= f.label :amount, class: 'form-label' %><br>
                <%= f.number_field :amount, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form">
                <%= f.label :coin, class: 'form-label' %><br>
                <%= f.number_field :coin, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="my-2">
                <%= f.submit class: 'btn btn-warning' %>
                <%= link_to 'Back', admins_offers_path, class: 'btn btn-dark' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>