<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5 mb-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center text-center">
      <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <div class="card-header">
          <h1 class="text-center border bg-warning p-2"><%= t("invite_friends") %></h1>
        </div>
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <%= @svg.html_safe %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center align-content-center">
      <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <div class="card">
          <div class="card-body">
            <div class="justify-content-center align-content-center">
              <div class="card">
                <div class="card-body text-center">
                  <span><%= @url %></span>
                </div>
              </div>
              <div class="card mt-1">
                <div class="card-body text-center">
                  <p><%= "You have #{@invited_members} invite/s" %></p>
                  <% unless @next_level.nil? %>
                    <p><%= "Share to #{@member_needs} friends" %><br>
                      and get<br><%= "#{@coins} coin/s" %></p>
                  <% end %>
                  <% if @next_level.nil? %>
                    <p>You are already at the max level!</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>