<%= form_with model: category, url: path do |form| %>
  <div>
    <%= form.submit class: 'btn btn-warning' %>
    <%= link_to "Back", admins_categories_path, class: 'btn btn-dark' %>
  </div>
  <hr>
  <div class="form">
    <%= form.label :number, class: 'form-label' %>
    <%= form.number_field :sort, class: 'form-control' %>
    <span class="text-danger"><%= category.errors.full_messages_for(:sort).join(", ") if category.errors.has_key?(:sort) %></span>
  </div>
  <hr>
  <div class="form">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
    <span class="text-danger"><%= category.errors.full_messages_for(:name).join(", ") if category.errors.has_key?(:name) %></span>
  </div>
<% end %>
