<footer class="bg-dark text-center text-white fixed-bottom border-top">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <%= link_to t("share"), users_share_index_path(footer: :share), class: "btn btn-outline-warning btn-floating m-1" if params[:footer] == 'share' %>
      <%= link_to t("share"), users_share_index_path(footer: :share), class: "btn btn-outline-light btn-floating m-1" unless params[:footer] == 'share' %>
      <%= link_to t("invite"), users_invite_people_path(footer: :invite), class: "btn btn-outline-warning btn-floating m-1" if params[:footer] == 'invite' %>
      <%= link_to t("invite"), users_invite_people_path(footer: :invite), class: "btn btn-outline-light btn-floating m-1" unless params[:footer] == 'invite' %>
      <%= link_to t("lottery"), users_lottery_index_path(footer: :lottery), class: "btn btn-outline-warning btn-floating m-1" if params[:footer] == 'lottery' %>
      <%= link_to t("lottery"), users_lottery_index_path(footer: :lottery), class: "btn btn-outline-light btn-floating m-1" unless params[:footer] == 'lottery' %>
      <%= link_to t("shop"), users_shop_index_path(footer: :shop), class: "btn btn-outline-warning btn-floating m-1" if params[:footer] == 'shop' %>
      <%= link_to t("shop"), users_shop_index_path(footer: :shop), class: "btn btn-outline-light btn-floating m-1" unless params[:footer] == 'shop' %>
      <%= link_to t("me"), users_profile_path(footer: :profile), class: "btn btn-outline-warning btn-floating m-1" if current_user && params[:footer] == 'profile' %>
      <%= link_to t("me"), users_profile_path(footer: :profile), class: "btn btn-outline-light btn-floating m-1" unless !current_user || params[:footer] == 'profile' %>
    </section>
  </div>
</footer>