<footer class="bg-dark text-center text-white fixed-bottom border-top">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <%= link_to t("share"), users_share_index_path, class: "btn btn-outline-light  btn-floating m-1" %>
      <%= link_to t("invite"), users_invite_people_path, class: "btn btn-outline-light btn-floating m-1" %>
      <%= link_to t("lottery"), users_lottery_index_path, class: "btn btn-outline-light btn-floating m-1" %>
      <%= link_to t("shop"), users_shop_index_path, class: "btn btn-outline-light btn-floating m-1" %>
      <%= link_to t("me"), users_profile_path, class: "btn  btn-outline-warning btn-floating m-1" if current_user %>
    </section>
  </div>
</footer>