<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <%= image_tag "banner.jpeg", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "hugo.png", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "mar.png", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "den.jpeg", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "mj.png", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "erwin.png", width: "1200", height: "250", alt: "koda" %>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= image_tag "bryn.png", width: "1200", height: "250", alt: "koda" %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div>
          <div class="mt-2 mb-2 bg-light rounded rounded-1" style="font-family: 'Arial Rounded MT Bold'">
            <marquee width="80%" direction="left" scrollamount="12" height="20px">
              <p>Announcement:</p>
            </marquee>
          </div>
          <div class="row d-flex">
            <% @offers.each do |offer| %>
              <div class="col-6">
                <div class="card mb-2">
                  <div class="card-body">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= offer.id %>">
                      <%= image_tag offer.image.url, height: "270", class: 'mx-auto d-block w-100' %>
                      <div class="text-center"><%= offer.name %></div>
                    </button>
                    <div class="modal fade" id="exampleModal<%= offer.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id=<%= offer.name %>></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <h3>Amount:<%= offer.amount %></h3>
                            <h3 class="bi-coin"><%= offer.coin %></h3>
                            <%= form_with model: @order, url: users_shop_index_path, method: :post do |f| %>
                              <div class="form">
                                <%= f.hidden_field :offer_id, class: 'form-control', value: offer.id %>
                                <%= f.submit "Order", { class: 'btn btn-warning', onclick: "return confirm('Are you sure you order this #{offer.name}')" } %>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/users/footer_shop' %>