<section class="mb-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8">
        <%= render "layouts/users/banner" %>
        <%= render "layouts/users/news_ticker" %>
        <div class="mt-3">
          <div class="row d-flex">
            <% @offers.each do |offer| %>
              <div class="col-6">
                <div class="card mb-2" style="border-radius: 0;">
                  <div class="card-body">
                    <div class="container">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= offer.id %>">
                        <%= image_tag offer.image.url, height: "270", class: 'mx-auto d-block w-100' %>
                        <div class="text-center"></div>
                      </button>
                    </div>
                    <div class="modal fade mt-5 pt-5" id="exampleModal<%= offer.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><%= offer.name %></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <h3>Amount:<%= offer.amount %></h3>
                            <h3 class="bi-coin"><%= offer.coin %></h3>
                            <%= form_with model: @order, url: users_shop_index_path, method: :post do |f| %>
                              <div class="form">
                                <%= f.hidden_field :offer_id, class: 'form-control', value: offer.id %>
                                <%= f.submit "Order", { class: 'btn btn-warning', onclick: "return confirm('Are you sure you order this #{offer.name}')" } %>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/users/footer_shop' %>