<div class="d-flex justify-content-center align-content-center">
  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Items</h3>
        <div>
          <%= link_to 'Add New', new_admins_item_path, class: 'btn btn-primary' %>
        </div>
        <hr>
        <div class="d-flex justify-content-center align-content-center">
          <table class="table-hover table-responsive text-center">
            <th>
              <tr class="bg-dark text-white table-responsive-sm">
                <td>Image</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Minimum Bets</td>
                <td>State</td>
                <td>Batch Count</td>
                <td>Online At</td>
                <td>Offline At</td>
                <td>Start At</td>
                <td>Status</td>
                <td>Categories</td>
                <td colspan="6">Action</td>
              </tr>
            </th>
            <% @items.each do |item| %>
              <tbody>
              <tr>
                <td><%= image_tag "#{item.image.url}", width: "100", height: "100" %></td>
                <td><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td><%= item.minimum_bets %></td>
                <td><%= item.state %></td>
                <td><%= item.batch_count %></td>
                <td><%= item.online_at %></td>
                <td><%= item.offline_at %></td>
                <td><%= item.start_at %></td>
                <td><%= item.status %></td>
                <td><%= item.categories.pluck(:name).join(', ') %></td>
                <td><%= button_to 'Delete', admins_item_path(item), class: 'btn btn-outline-danger me-2', onclick: "return confirm('Are you sure you want to delete?')", method: :delete %></td>
                <td><%= link_to 'Show', admins_item_path(item), class: 'btn btn-outline-danger me-2' %></td>
                <% if item.may_start? %>
                  <td><%= button_to "Start", admins_item_start_event_path(item), method: :put, class: 'btn btn-primary'%></td>
                <% end %>
                <% if item.may_pause? %>
                  <td><%= button_to "Pause", admins_item_pause_event_path(item), method: :put, class: 'btn btn-primary' %></td>
                <% end %>
                <% if item.may_end? %>
                  <td><%= button_to "End", admins_item_end_event_path(item), method: :put, class: 'btn btn-primary' %></td>
                <% end %>
                <% if item.may_cancel? %>
                  <td><%= button_to "Cancel", admins_item_cancel_event_path(item), method: :put, class: 'btn btn-primary' %></td>
                <% end %>
              </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>