<h1 class="text-center text-white"><%= "#{@item.name}" %></h1>
<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
          </div>
          <%= image_tag @item.image.url, height: "500", class: 'mx-auto d-block w-100' %>
          <div class="mt-3">
            <%= form_with model: @bet, url: users_lottery_index_path, method: :post do |f| %>
              <%= f.number_field :coins, class: 'form-control', value: 1 %>
              <%= f.submit "Submit", class: 'form-control btn btn-warning my-2' %>
              <%= f.hidden_field :item_id, class: 'form-control', value: params[:id] %>
            <% end %>
          </div>
          <div class="mt-1">
            <p><b>Serial Number</b></p>
            <% if @owner_users.blank? %>
              <p>---None---</p>
            <% end %>
            <% @owner_users.each do |serial_number| %>
              <p><%= serial_number.serial_number %></p>
            <% end %>
          </div>
          <div class="mt-5">.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-5">.</div>
<%= render 'layouts/users/footer_lottery' %>
