<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="mb-2 mt-3">
            <button class="btn btn-toggle btn-dark align-items-center d-flex collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Member Management
            </button>
            <div class="collapse mx-1" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal mt-2 small">
                <h5><%= link_to "User List", admins_users_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Item List", admins_items_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Category List", admins_categories_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Bet List", admins_bets_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Winner List", admins_winners_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Offer List", admins_offers_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Order List", admins_orders_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Invite List", admins_invites_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "News Ticker List", admins_news_tickers_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Banner List", admins_banners_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
                <h5><%= link_to "Member Level List", admins_member_levels_path, class: 'badge badge-warning btn btn-warning text-dark text-wrap' %></h5>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle btn-dark align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Example 2 Management
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class=" rounded">Example 1</a></li>
                <li><a href="#" class=" rounded">Example 2</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-10 bg-white ">
      <div class="text-center m-2">
        <span class="badge alert alert-primary mx-1"><%= notice %><%= alert %></span>
      </div>
      <%= yield %>
    </div>
  </div>
</div>



