<!DOCTYPE html>
<html>
  <head>
    <title>Side Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="" style="font-family: Arial, 'Roboto Light', SansSerif">
    <div class="mt-5">
      <div class="text-center">
        <span class="badge alert alert-primary mt-3"><%= notice %></span>
        <span class="badge alert alert-danger mt-3"><%= alert %></span>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
