<%= render 'layouts/header' %>
<%= form_with model: @address, url: me_address_path(@address), data: { turbo: false } do |form| %>
  <div data-controller='location'>
    <div class="d-flex justify-content-center align-content-center">
      <% if @address.errors.any? %>
        <ul>
          <% @address.errors.each do |error| %>
            <ol><%= error.full_message %></ol>
          <% end %>
        </ul>
      <% end %>
      <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h2 class="text-center">Add Address</h2>
          <div class="row d-flex justify-content-center align-content-lg-center">
            <div class="col-10 col-md-8 col-lg-6 col-xl-6">
              <div class="form-group">
                <%= form.text_field :name, class: 'form-control mt-1 mb-1', placeholder: "Name" %>
                <%= form.text_field :phone, class: 'form-control mt-1 mb-1', placeholder: "Phone" %>
                <%= form.select :genre, options_for_select(Address.genres.map { |key, value| [key.humanize, key] }), { prompt: "Select Genre" }, class: 'form-control mt-1 mb-1' %>
                <%= form.text_field :street, class: 'form-control mt-1 mb-1', placeholder: "Street" %>
                <%= form.text_field :remark, class: 'form-control mt-1 mb-1', placeholder: "Receiver" %>
              </div>
            </div>
            <div class="col-10 col-md-8 col-lg-6 col-xl-6">
              <div class="form-group">
                <%= form.collection_select :address_region_id,
                                           Address::Region.all, :id, :name,
                                           { prompt: 'SELECT REGION' },
                                           data: { action: 'change->location#fetchProvinces', location_target: 'selectRegionId' }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form-group">
                <%= form.collection_select :address_province_id, [], nil, nil, { prompt: 'SELECT PROVINCE/DISTRICT' }, data: { action: 'change->location#fetchCityMunicipalities', location_target: 'selectProvinceId' }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form-group">
                <%= form.collection_select :address_city_municipality_id, [], nil, nil, { prompt: 'SELECT MUNICIPALITY' }, data: { action: 'change->location#fetchBarangays', location_target: 'selectCityMunicipalityId' }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form-group">
                <%= form.collection_select :address_barangay_id, [], nil, nil, { prompt: 'SELECT BARANGAY' }, data: { location_target: 'selectBarangayId' }, class: 'form-control mt-1 mb-1' %>
              </div>
              <div class="form-check">
                <%= form.check_box :is_default, class: 'form-check-input' %>
                <label class="form-check-label" for="defaultCheck1">
                  Default Address?
                </label>
              </div>
            </div>
            <div class="form-group">
              <%= form.submit "Add Address", class: 'btn btn-outline-info btn-primary mt-1' %>
              <%= link_to "Back", me_addresses_path, class: 'btn btn-outline-info btn-primary mt-1' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'layouts/footer' %>