<h1 class="text-center text-dark">Orders</h1>
<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <%= form_tag({ url: admins_orders_path }, method: :get) do %>
              <div class="row">
                <div class="col-6">
                  <%= label_tag :serial_number %>
                  <%= text_field_tag :serial_number, params[:serial_number], class: 'form-control' %>
                </div>
                <div class="col-6">
                  <%= label_tag :email %>
                  <%= text_field_tag :email, params[:email], class: 'form-control' %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= label_tag :state %>
                  <%= select_tag :state, options_for_select(Order.aasm.states.map(&:name), params[:state]), { prompt: "Select State", class: 'form-control' } %>
                </div>
                <div class="col-6">
                  <%= label_tag :genre %>
                  <%= select_tag :genre, options_for_select(Order.genres.keys.map { |key| [key.humanize, key] }, params[:genre]), { prompt: 'Select Genre', class: "form-select" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= label_tag :create_date %>
                  <%= date_field_tag :created_at, params[:created_at], class: 'form-control' %>
                </div>
                <div class="col-6">
                  <%= label_tag :end_date %>
                  <%= date_field_tag :ended_at, params[:ended_at], class: 'form-control' %>
                </div>
              </div>
              <%= submit_tag :Search, class: 'btn btn-dark mt-2' %><%= link_to "Cancel", admins_orders_path, class: 'mx-2 btn btn-dark mt-2' %>
            <% end %>
            <hr>
            <div class="form-label">
              <b>Total amounts: </b><%= Order.sum(:amount) %><br>
              <b>Subtotal: </b><%= @orders.sum(:amount) %><br>
            </div>
            <div class="form-label">
              <b>Total coins: </b><%= Order.sum(:coin) %><br>
              <b>Subtotal: </b><%= @orders.sum(:coin) %><br>
            </div>
            <hr>
            <div style="overflow: auto;">
              <table class="table table-responsive text-center w-100">
                <th>
                  <tr class="bg-dark text-white">
                    <td>Serial Number</td>
                    <td>Email</td>
                    <td>Genre</td>
                    <td>State</td>
                    <td>Offer</td>
                    <td>Amounts</td>
                    <td>Coins</td>
                    <td>Date</td>
                    <td colspan="2">Action</td>
                  </tr>
                </th>
                <tbody>
                <% @orders.each do |order| %>
                  <tr class="">
                    <td><%= order.serial_number %></td>
                    <td><%= order.user&.email %></td>
                    <td><%= order.genre %></td>
                    <td><%= order.state %></td>
                    <td><%= order.offer.name %></td>
                    <td><%= order.amount %></td>
                    <td><%= order.coin %></td>
                    <td><%= order.created_at %></td>
                    <% if order.may_cancel? %>
                      <td><%= button_to "Cancel", admins_order_cancel_event_path(order), method: :put, class: 'btn btn-warning text-dark' %></td>
                    <% end %>
                    <% if order.may_pay? %>
                      <td><%= button_to "Pay", admins_order_pay_event_path(order), method: :put, class: 'btn btn-warning text-dark' %></td>
                    <% end %>
                  </tr>
                  </tbody>
                <% end %>
                </table>
              <% if @orders.blank? %>
                <h3 class="text-center mt-1">No result found</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>