<%= form_with model: news_ticker, url: path do |f| %>
  <div>
    <%= f.submit class: 'btn btn-warning' %>
    <%= link_to 'Back', admins_news_tickers_path, class: 'btn btn-dark' %>
  </div>
  <hr>
  <div class="form">
    <%= f.label :content, class: 'form-label' %><br>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div class="form">
    <%= f.label :status, class: 'form-label' %><br>
    <%= f.select :status, options_for_select(NewsTicker.statuses.map { |key, value| [key.humanize, key] }), { prompt: "Select Status" }, class: 'form-control mt-1 mb-1' %>
  </div>
<% end %>
