<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-11 col-md-10 col-lg-9 col-xl-9 col-xxl-7">
        <div class="card-header">
          <h1 class="text-center border bg-warning p-2">News Ticker List</h1>
        </div>
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <div>
              <%= link_to 'Add New', new_admins_news_ticker_path, class: 'btn btn-warning' %>
            </div>
            <hr>
            <div style="overflow-x: auto;">
              <table class="table table-hover table-responsive text-center">
                <thead>
                <tr class="bg-dark text-white">
                    <td>Content</td>
                    <td>Status</td>
                    <td colspan="2">Actions</td>
                  </tr>
                </thead>
                <% @news_tickers.each do |news_ticker| %>
                  <tbody>
                  <tr>
                    <td><%= news_ticker.content %></td>
                    <td><%= news_ticker.status %></td>
                    <td><%= link_to 'Edit', edit_admins_news_ticker_path(news_ticker), class: 'btn btn-outline-dark me-2' %></td>
                    <td><%= button_to 'Delete', admins_news_ticker_path(news_ticker), class: 'btn btn-outline-dark me-2', onclick: "return confirm('Are you sure you want to delete?')", method: :delete %></td>
                  </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>