<div class="container-fluid position-fixed">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-2.5 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-5 pt-2 text-dark min-vh-100" style="font-family: Arial,SansSerif,SansSerif">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Homepage
            </button>
            <hr>
          </li>

          <li class="mb-2">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Member Management
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">User List</a></li>
                <li><a href="#" class="link-dark rounded">Item List</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Example 2 Management
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Example 1</a></li>
                <li><a href="#" class="link-dark rounded">Example 2</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="container">
        <div class="d-flex justify-content-center align-content-center">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
      <div class="container mt-lg-2">
        <div class="d-flex justify-content-center align-content-lg-center">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
</div>


