<!DOCTYPE html>
<html>
  <head>
    <title>Side Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="mt-5 bg-secondary container" style="font-family: Arial, 'Roboto Light', SansSerif">
    <div class="container mt-lg-5 p-lg-5">
      <div class="text-center">
        <p class="badge alert alert-primary"><%= notice %></p>
        <p class="badge alert alert-primary"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
