<!DOCTYPE html>
<html>
  <head>
    <title>Side Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body style="font-family: system-ui;" class="bg-dark vh-100">
    <div class="vw-100">
      <%= render 'layouts/users/header' %>
    </div>
    <div class="vh-100 bg-dark mt-2">
      <div class="text-center">
        <span class="badge alert alert-primary mx-1"><%= notice %><%= alert %></span>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
