<%= render 'layouts/header' %>
<div class="container">
  <h1 class="text-center">Edit Profile</h1>
  <div class="container col-8 fw-bolder my-4">
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: @user %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group d-flex justify-content-center align-content-center mb-2">
        <div class="m-2 text-center"><strong><%= f.label "add/Update Profile Picture", class: 'mb-3' %></strong>
          <%= f.file_field :image, class: 'form form-control' %>
        </div>
      </div>

      <div class="form-floating mt-3">
        <%= f.text_field :username, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
        <br/>
        <%= f.label :username, for: "floatingInput" %>
      </div>

      <div class="form-floating mt-3">
        <%= f.text_field :phone, class: "form-control", id: "floatingInput", placeholder: "name@example.com", maxlength: 13 %>
        <br/>
        <%= f.label :phone, for: "floatingInput" %>
      </div>

      <div class="text-center">
        <%= f.submit class: 'btn btn-primary btn-lg mx-3' %><%= link_to "Back", me_path, class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>




















