<%= render "users/shared/error_messages", resource: resource %>
<h1 class="text-center text-white"><%= t("register") %></h1>
<section class="mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 mt-xxl-5">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-9 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card shadow-lg rounded-3">
          <div class="card-body bg-light">
            <ul class="nav nav-pills nav-justified border">
              <li class="nav-item">
                <%= link_to t("login"), new_session_path(resource_name), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t("register"), new_user_registration_path, class: " bg-warning text-dark nav-link active" %>
              </li>
            </ul>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-floating mt-3">
                <% if cookies[:promoter].present? %>
                  <%= email_field_tag :parent, cookies[:promoter], class: "form-control", id: "floatingInput", placeholder: "name@example.com", readonly: true %>
                  <br>
                  <%= f.label :Promoter, for: "floatingInput" %>
                <% end %>
              </div>
              <div class="form-floating">
                <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
                <br>
                <%= f.label :email, for: "floatingInput" %>
              </div>
              <div class="form-floating">
                <%= f.password_field :password, class: "form-control", id: "floatingInput", placeholder: "Password" %>
                <br>
                <%= f.label :password, for: "floatingInput" %>
              </div>
              <div class="form-floating">
                <%= f.password_field :password_confirmation, class: "form-control", id: "floatingInput", placeholder: "Password" %>
                <br>
                <%= f.label :password_confirmation, for: "floatingInput" %>
              </div>
              <div class="actions">
                <%= f.submit t("register"), class: "w-100 btn btn-lg btn-dark" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>