<%= render "layouts/header" %>
<section class="bg-secondary">
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="container mt-lg-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10 col-md-8 col-lg-6 col-xl-6">
        <div class="card shadow-2-strong border-0">
          <div class="card-body m-0 text-center">
            <div class="card shadow-lg rounded-3">
              <div class="card-body bg-light">
                <ul class="nav nav-pills nav-justified">
                  <li class="nav-item">
                    <%= link_to "Log in", new_session_path(resource_name), class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Register", new_user_registration_path, class: " bg-warning nav-link active" %>
                  </li>
                </ul>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
                  <div class="form-floating mt-3">
                    <%= f.text_field :username, class: "form-control", id: "floatingInput", placeholder: "Username" %>
                    <br>
                    <%= f.label :Promoter_Name, for: "floatingInput" %>
                  </div>
                  <div class="form-floating">
                    <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
                    <br>
                    <%= f.label :email, for: "floatingInput" %>
                  </div>
                  <div class="form-floating">
                    <%= f.password_field :password, class: "form-control", id: "floatingInput", placeholder: "Password" %>
                    <br>
                    <%= f.label :password, for: "floatingInput" %>
                  </div>
                  <div class="form-floating">
                    <%= f.password_field :password_confirmation, class: "form-control", id: "floatingInput", placeholder: "Password" %>
                    <br>
                    <%= f.label :password_confirmation, for: "floatingInput" %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Register", class: "w-100 btn btn-lg btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/footer" %>